# Base git config (portable). Personal identity lives in ~/.gitconfig.local
# which is created by install.sh and never committed.

[init]
	defaultBranch = main

[core]
	excludesfile = ~/.gitignore_global
	editor = vim

[include]
	path = ~/.gitconfig.local
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
